{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>투표 페이지</title>
    <!-- css 파일 경로를 head 안에 link tag로 지정 -->
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
</head>

<body>
    <h1>투표 앱에 입장하셨습니다</h1>
    {% if latest_question_list %}
    <ul class="question-list">
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_txt }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

    <!-- js 파일 경로를 body의 close tag 앞에 script tag로 지정 -->
    <script src="{% static 'polls/js/scripts.js' %}"></script>
</body>

</html>